fastapi[standard]
fastapi-cli
supabase
click
newspaper4k
python-dotenv
lxml_html_clean

# Commenting these out because we don't need for deployment 
# transformers==4.38.2
# torch==2.2.1
sagemaker
boto3
