fastapi[standard]
fastapi-cli
supabase
click
newspaper3k
python-dotenv
lxml_html_clean
modal

# Commenting these out because we don't need for deployment, but we might need for local testing
# transformers==4.38.2
# torch==2.2.1
# sagemaker
# boto3
